RewriteEngine on

# ROUTES

# posts.show
# URL: posts/id/slug
# PATTERN: ?posts=show&id=x
RewriteRule ^posts/([1-9][0-9]*)/[a-z0-9][a-z0-9\-]*$ index.php?posts=show&id=$1 [L]


RewriteRule ^posts\/add\/form$ index.php?posts=addForm [L]


RewriteRule ^posts\/add\/insert$ index.php?posts=addInsert [L]


RewriteRule ^posts/([1-9][0-9]*)/([a-z0-9][a-z0-9-]*)/delete$ index.php?posts=delete&id=$1 [L]

RewriteRule ^posts/([1-9][0-9]*)/([a-z0-9][a-z0-9-]*)/edit/form$ index.php?posts=editForm&id=$1 [L]

RewriteRule ^posts/([1-9][0-9]*)/([a-z0-9][a-z0-9-]*)/edit/update$ index.php?posts=editUpdate&id=$1 [L]
# --------------------------------------------------
RewriteCond %{REQUEST_URI} !.(?:css|js|png|jpg|jpeg|gif|svg|ico|woff|woff2|ttf|eot)$ [NC]
RewriteRule ^(.*)$ index.php [L]

